* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #13131a;
}

#title {
    margin-top: 15px;
    color: white;
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 80vh;
    width: 80vw;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par-de-barreira {
    position: relative;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 80px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: 700;
    font-size: 30pt;
}